# dependencies
node_modules/

# SvelteKit / Vite build outputs
.svelte-kit/
build/
dist/

# local generated artifacts
mnt/

# environment variables
.env
.env.*
!.env.example

.vercel
.env*.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# OS/editor files
.DS_Store
Thumbs.db
.vscode/
.idea/

# test and coverage
coverage/
.nyc_output/

# TypeScript cache
*.tsbuildinfo
*venv*
.venv/
__pycache__/
*.pyc